<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.board.service.BoardMapper">
	
	<select id="selectBoard" parameterType="egovframework.board.service.BoardVO" resultType="egovframework.board.service.BoardVO">
		select id,title,author_id,content,
		date_format(created_date,'%y-%m-%d') created_date,
		date_format(updated_date,'%y-%m-%d') updated_date 
		from board where id = #{id}
	</select>
	
	<select id="selectAllBoard" resultType="egovframework.board.service.BoardVO">
		select id,title,author_id,date_format(created_date,'%y-%m-%d') created_date from board
	</select>
	
	<insert id="insertBoard"  parameterType="egovframework.board.service.BoardVO">
		insert into board(title,content,author_id) 
				values(#{title},#{content},#{author_id})
	</insert>
	
	<delete id="deleteBoard" parameterType="egovframework.board.service.BoardVO">
		delete from board 
		where id = #{id}
	</delete>
	
	<update id="updateBoard" parameterType="egovframework.board.service.BoardVO">
		update board set 
				title = #{title}, 
				content = #{content},
				updated_date = current_date
			where id = #{id}
	</update>
	
	<insert id="insertBoardLog" parameterType="egovframework.board.service.BoardVO">
		insert into board_log(id,crud,performer,title,content,author_id)
				values(#{id},#{crud},#{performer},#{title},#{content},#{author_id})
	</insert>
	
	<select id="getboardinc" resultType="int">
		select ifnull(max(id),0) from board
	</select>
</mapper>
